@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700&display=swap');

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  height: 100vh;

  background-color: #1a1a1a;
  color: whitesmoke;

  font-family: 'Poppins', sans-serif;
}

.main-title {
  font-size: 2.5rem;
  margin-bottom: 1rem;
}